.blog {
    padding-top: 8.75rem;
    padding-bottom: 8.875rem;
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
        grid-auto-rows: auto;
        @include laptop {
            display: block;
            padding: 0 6rem;
        }
        @include tablet {
            padding: 0;
        }
    }
    &__title {
        display: block;
        font-family: 'Gelasio';
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 1rem;
        @include tablet {
            padding: 0 1rem;
        }
    }
    &__par {
        display: block;
        font-family: 'Roboto';
        font-size: 1.125rem;
        margin-bottom: 1rem;
        max-width: 470px;
        opacity: 0.6;
        @include tablet {
            padding: 0 1rem;
        }
    }
    &__author {
        font-family: 'Roboto';
        font-size: 1.25rem;
        @include tablet {
            padding: 0 1rem;
        }
    }
    &__img {
        width: 100%;
        @include laptop {
            margin-bottom: 1rem;
            border-radius: 25px;
        }
    }
    &__part-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        @include laptop {
            margin-bottom: 3rem;
        }
    }
    &__part-1 &__img {
        margin-bottom: 1rem;
        border-radius: var(--img-radius);
        @include laptop {
            border-radius: 0;
        }
    }
    &__part-1 &__title {
        margin-bottom: 1rem;
    }
    &__part-2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.2rem;
        @include laptop {
            gap: 3rem
        }
    }
    &__elem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include laptop {
            display: block;
        }
    }
    &__part-2 &__text {
        margin-left: 1rem;
        @include laptop {
            margin: 0;
        }
    }
}