.offer {
    padding-top: 8.75rem;
    &__image {
        width: 100%;
        object-fit: cover;
        height: 100%;
        margin-bottom: 1.25rem;
    }
    &__title {
        text-align: left;
        font-family: 'Gelasio';
        font-weight: 700;
        font-size: 1.5rem;
        display: block;
        margin-bottom: .5rem;
    }
    &__country {
        font-family: 'Roboto';
        font-size: 1.25rem;
        opacity: 0.6;
        display: inline-block;
        margin-bottom: 8px;
        margin-right: 2.2rem;
    }
    &__rating {
        display: inline-block;
        font-family: 'Roboto';
        font-size: 1.125rem;
    }
    &__duration {
        font-family: 'Roboto';
        font-size: 1rem;
        opacity: 0.6;
        display: block;
        margin-bottom: .5rem;
    }
    &__price {
        font-family: 'Roboto';
    }
    &__price strong {
        font-size: 1.125rem;
    }
}

.star-img {
    transform: translateY(10%);
}

.slider__content {
    width: fit-content;
}

.swiper {
    margin: 0 auto;
    &-slide {
        transform: translateX(20%);
        margin: 0 auto;
    }
    &-pagination {
        margin-top: 3rem;
        position: relative;
    }
    &-pagination-bullet {
        background-color: var(--accent-color);
        width: 3rem;
        height: 5px;
        border-radius: 10px;
    }
    &-button-next:after {
        content: '' !important;
    }
    &-button-prev::after {
        content: '' !important;
    }
    &-button-next {
        top: 95.5% !important;
        right: 33%;
        @media screen and (max-width: 1100px) {
            right: 26%;
        }
        @media screen and (max-width: 834px) {
            right: 20%;
        }
        @media screen and (max-width: 692px) {
            right: 12%;
        }
        @media screen and (max-width: 515px) {
            right: 5%;
        }
    }
    &-button-prev {
        top: 95.5% !important;
        left: 33%;
        @media screen and (max-width: 1100px) {
            left: 26%;
        }
        @media screen and (max-width: 834px) {
            left: 20%;
        }
        @media screen and (max-width: 692px) {
            left: 12%;
        }
        @media screen and (max-width: 515px) {
            left: 5%;
        }
    }
}